/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

label {
  margin-bottom: 0.5em;
}

input, textarea, select {
  margin-bottom: 2em;
}