{% extends 'base.html' %} {% load static %} {% block meta %}

<title>Dashboard</title>
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css"
	integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w=="
	crossorigin="anonymous"
/>
{% endblock meta %} {% block content %}


<div class="container">
	<div class="content">
		<div class="row">
			<div class="col-12">
				<div class="card card-chart mb-3">
					<div class="card-header">
						<h5 class="card-subtitle mt-2 text-muted">Jumlah Pasien berdasarkan</h5>
						<h2 class="card-title">Jenis Kelamin: Laki-laki / Perempuan</h2>
					</div>
					<div class="card-body">
						<div class="chart-area">
							<div id="chart-jenis-kelamin-warning" class="chart-warning"></div>
							<canvas id="chart-jenis-kelamin"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="card card-chart mt-3 mb-3">
					<div class="card-header">
						<h5 class="card-subtitle mt-2 text-muted">Jumlah Pasien berdasarkan</h5>
						<h3 class="card-title">Usia</h3>
					</div>
					<div class="card-body">
						<div class="chart-area">
							<div id="chart-usia-warning" class="chart-warning"></div>
							<canvas id="chart-usia"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="card card-chart mb-3 mt-3">
					<div class="card-header">
						<h5 class="card-subtitle mt-2 text-muted">Jumlah Pasien berdasarkan</h5>
						<h3 class="card-title">Output: Hidup / Meninggal</h3>
					</div>
					<div class="card-body">
						<div class="chart-area">
							<div id="chart-output-warning" class="chart-warning"></div>
							<canvas id="chart-output"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="row">
			<div class="col-12">
				<div class="card card-chart mt-3 mb-3">
					<div class="card-header">
						<h5 class="card-subtitle mt-2 text-muted">Jumlah Pasien berdasarkan</h5>
						<h3 class="card-title">Domisili: Bandung / Luar Bandung</h3>
					</div>
					<div class="card-body">
						<div class="chart-area">
							<div id="chart-domisili-warning" class="chart-warning"></div>
							<canvas id="chart-domisili"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="row">
			<div class="col-12">
				<div class="card card-chart mt-3 mb-3">
					<div class="card-header">
						<h5 class="card-subtitle mt-2 text-muted">Jumlah Pasien berdasarkan</h5>
						<h3 class="card-title">Kontak TB</h3>
					</div>
					<div class="card-body">
						<div class="chart-area">
							<div id="chart-kontak-tb-warning" class="chart-warning"></div>
							<canvas id="chart-kontak-tb"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="row">
			<div class="col-12">
				<div class="card card-chart mt-3 mb-3">
					<div class="card-header">
						<h5 class="card-subtitle mt-2 text-muted">Jumlah Pasien berdasarkan</h5>
						<h3 class="card-title">TST</h3>
					</div>
					<div class="card-body">
						<div class="chart-area">
							<div id="chart-tst-warning" class="chart-warning"></div>
							<canvas id="chart-tst"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %} {% block script %}

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
	integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
	crossorigin="anonymous"
></script>

<script src="{% static 'js/dashboard.js' %}"></script>

{% endblock script %}
