{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Register Pasien</title>
{% endblock meta %}
{% block content %}
<div class="container" style="min-height: 80vh;">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 font-weight-bold">Login Admin</h5>
            <form method="POST" action=''>
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="username">
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="d-grid">
                    <button class="btn btn-primary btn-login" type="submit">Sign
                    in</button>
                </div>
            </form>
            {% for message in messages %}
                {% if message.tags %}
                    <div class="mt-2">
                        <small class="text-danger">
                            {{ message }}
                        </small>      
                      </div>
                  </div>
                {% endif %}
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
