<footer class="bg-dark text-center text-lg-start" style="padding-top: 20px; padding-bottom: 80;">

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); color: white;">
      Built with ❤️ by: BGN, Powered by:
      <a class="text-light" target="_blank" href="https://fuki.cs.ui.ac.id/">FUKI 2021</a>
    </div>
  </footer>