{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Register Pasien</title>
{% endblock meta %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-9 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h3 class="card-title text-center mb-5 font-weight-bold">Register Pasien</h3>
          <form method="POST">
            {% csrf_token %}
              {% for field in pasien_form%}
                {% if field.label == "Rujukan dari" %}
                <th>
                  {{field.label_tag}}
                </th>
                <td>
                  {{field}}
                </td>
                <h4 class="mb-3 mt-5">Domisili</h4>
                {{ domisili_form.as_table }}

                {% elif field.label == "Pendidikan"%}
                <th>
                  {{field.label_tag}}
                </th>
                <td>
                  {{field}}
                </td>

                <h4 class="mb-3 mt-5">Usia</h4>
                {{ usia_form.as_table }}
                <h4 class="mb-3 mt-5">Status Gizi</h4>
                {{ status_gizi_form.as_table }}
          
                {% elif field.label == "Status HIV"%}
                <th>
                  {{field.label_tag}}
                </th>
                <td>
                  {{field}}
                </td>
                <h4 class="mb-3 mt-5">Perut Membesar</h4>
                {{ perut_membesar_form.as_table }}
                <h4 class="mb-3 mt-5">Nyeri Perut</h4>
                {{ nyeri_perut_form.as_table }}
          
                {% elif field.label == "Keringat malam"%}
                <th>
                  {{field.label_tag}}
                </th>
                <td>
                  {{field}}
                </td>
                <h4 class="mb-3 mt-5">Sesak Napas</h4>
                {{ sesak_napas_form.as_table }}
          
                {% elif field.label == "anoreksia"%}
                <th>
                  {{field.label_tag}}
                </th>
                <td>
                  {{field}}
                </td>
                <h4 class="mb-3 mt-5">Diare Kronis</h4>
                {{ diare_kronis_form.as_table }} 

                {% elif field.label == "Hematoskezia/bleed per rektum"%}
                <th>
                  {{field.label_tag}}
                </th>
                <td>
                  {{field}}
                </td>
                <h4 class="mb-3 mt-5">Riwayat Panas ≥2 Minggu</h4>
                {{riwayat_panas_form.as_table}}
                <h4 class="mb-3 mt-5">Riwayat Batuk ≥2 Minggu</h4>
                {{riwayat_batuk_form.as_table}}
          
                {% elif field.label == "Keadaan Umum"%}
                <th>
                  {{field.label_tag}}
                </th>
                <td>
                  {{field}}
                </td>

                <h4 class="mb-3 mt-5">Pembesaran KGB</h4>
                {{pembesaran_kgb_form.as_table}}

                <h4 class="mb-3 mt-5">Pemeriksaan Toraks</h4>
                {{pemeriksaan_toraks_form.as_table}}

                <h4 class="mb-3 mt-5">Pemeriksaan Abdomen</h4>
                {{pemeriksaan_abdomen_form.as_table}}
          
                {% elif field.label == "Efusi Perikardium"%}
                <th>
                  {{field.label_tag}}
                </th>
                <td>
                  {{field}}
                </td>

                <h4 class="mb-3 mt-5">Laboratorium</h4>
                {{laboratorium_form.as_table}}
          
                {% elif field.label == "TST (mm)"%}
                <th>
                  {{field.label_tag}}
                </th>
                <td>
                  {{field}}
                </td>

                <h4 class="mb-3 mt-5">USG Abdomen</h4>
                {{usg_abdomen_form.as_table}}

                <h4 class="mb-3 mt-5">Chest X-Ray</h4>
                
                {% for xray in chest_xray_form %}
                  {% if xray.label == "Efusi pleura chest xray" %}
                    <th>
                      Efusi Pleura:
                    </th>
                    <td>
                      {{xray}}
                    </td>
                  {% elif xray.label == "Tuberkoloma" %}
                    <th>
                      Tuberkuloma:
                    </th>
                    <td>
                      {{xray}}
                    </td>
                  {% else %}
                    <th>
                      {{xray.label_tag}}
                    </th>
                    <td>
                      {{xray}}
                    </td>
                  {% endif %}
                {% endfor %}
                <h4 class="mb-3 mt-5">BTA sputum/aspirat lambung</h4>
                {{bta_sputum_aspirat_lambung_form.as_table}}

                {% elif field.label == "TCM Asites"%}
                <th>
                  {{field.label_tag}}
                </th>
                <td>
                  {{field}}
                </td>

                <h4 class="mb-3 mt-5">TCM Pleura</h4>
                {{tcm_pleura_form.as_table}}
          
                {% elif field.label == "CT Scan Abdomen"%}
                <th>
                  {{field.label_tag}}
                </th>
                <td>
                  {{field}}
                </td>

                <h4 class="mb-3 mt-5">Analisis Cairan Asites</h4>
                {{analisis_asites_form.as_table}}

                <h4 class="mb-3 mt-5">Analisis Cairan Pleura</h4>
                {{analisis_pleura_form.as_table}}

                {% elif field.id_for_label == "id_los" %}
                <th>
                  {{field.label_tag}}
                </th>
                <td>
                  {{field}}
                </td>
                <h4 class="mb-3 mt-5">Luaran Saat Rawat Inap</h4>
                {{luaran_saat_rawat_inap_form.as_table}}

                {% elif field.id_for_label == "id_status_gizi_1" %}
                  <h4 class="mb-3 mt-5">Bulan ke-1</h4>
                  {{ field.label_tag }}
                  {{field}}

                {% elif field.id_for_label == "id_status_gizi_2" %}
                  <h4 class="mb-3 mt-5">Bulan ke-2</h4>
                  {{ field.label_tag }}
                  {{field}}

                {% elif field.id_for_label == "id_status_gizi_3" %}
                  <h4 class="mb-3 mt-5">Bulan ke-3</h4>
                  {{ field.label_tag }}
                  {{field}}

                {% elif field.id_for_label == "id_status_gizi_4" %}
                  <h4 class="mb-3 mt-5">Bulan ke-4</h4>
                  {{ field.label_tag }}
                  {{field}}

                {% elif field.id_for_label == "id_status_gizi_5" %}
                  <h4 class="mb-3 mt-5">Bulan ke-5</h4>
                  {{ field.label_tag }}
                  {{field}}

                {% elif field.id_for_label == "id_status_gizi_6" %}
                <h4 class="mb-3 mt-5">Bulan ke-6</h4>
                {{ field.label_tag }}  
                {{field}}

                {% elif field.id_for_label == "id_status_gizi_7" %}
                <h4 class="mb-3 mt-5">Bulan ke-7</h4>
                {{ field.label_tag }}  
                {{field}}
                  
                {% elif field.id_for_label == "id_status_gizi_8" %}
                <h4 class="mb-3 mt-5">Bulan ke-8</h4>
                {{ field.label_tag }}  
                {{field}}

                {% elif field.id_for_label == "id_status_gizi_9" %}
                <h4 class="mb-3 mt-5">Bulan ke-9</h4>
                {{ field.label_tag }}  
                {{field}}

                {% elif field.id_for_label == "id_status_gizi_10" %}
                <h4 class="mb-3 mt-5">Bulan ke-10</h4>
                {{ field.label_tag }}  
                {{field}}

                {% elif field.id_for_label == "id_status_gizi_11" %}
                <h4 class="mb-3 mt-5">Bulan ke-11</h4>
                {{ field.label_tag }}  
                {{field}}

                {% elif field.id_for_label == "id_status_gizi_12" %}
                <h4 class="mb-3 mt-5">Bulan ke-12</h4>
                {{ field.label_tag }}
                {{field}}

                {% else %}
                <tr>
                  <th>
                  {{field.label_tag}}
                </th>
                <td>
                  {{field}}
                </td>
                </tr>
                {% endif %}
              {% endfor %}

              
              <div class="d-grid">
                <button id="btn-submit" type="submit" class="btn btn-primary mb-5">Register</button>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  $('btn-submit').on('click', function() {
    $(this).prop('disabled', true);
});
</script>

{% endblock content %}
