{% extends 'base.html' %} {% load static %} {% block meta %}{% load render_table from django_tables2 %}
<title>List Pasien</title>
{% endblock meta %} {% block content %}

<div class="container d-flex flex-row justify-content-center">
	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
		Import dari Excel
	</button>
	

		
		
	
	
	
	
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Masukan File Excel</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body">
				<form
				id="form"
				class="form-base"
				method="POST"
				enctype="multipart/form-data"
				action=""
			>
				{% csrf_token %}
				<div class="form-fields">
					{% for field in excel_upload_form %}
					<div class="field-wrapper">
						<div class="field-input">{{ field.label_tag }} {{ field }}</div>
						<div class="field-error">{{ field.errors }}</div>
						{% if field.help_text %}
						<p class="help">{{ field.help_text|safe }}</p>
						{% endif %}
					</div>
					{% endfor %}
				</div>

				<button type="button" class="btn btn-secondary mt-4" data-bs-dismiss="modal">
					Batal
				</button>
				<button id="btn-import" type="submit" class="button btn btn-primary form-submit-button mt-4">
					Import
				</button>
			</form>
			</div>
		</div> 
		</div>
	</div>
	

	<a type="button"href="{% url 'main:export' %}"  class="btn btn-primary ms-3">Export ke Excel</a>
</div>
<div class= "container mt-4 min-vh-100" style="overflow-x: auto">
	<table class="table table-info table-bordered border-dark table-striped rounded" style="border-color: dimgrey !important;">
			<tr class="table-warning table-bordered border-dark text-center">
				<th rowspan="3">No</th>
				<th rowspan="3">Action</th>
				<th rowspan="3">RM</th>
				<th rowspan="3">Tanggal Perawatan</th>
				<th rowspan="3">Nomor Telepon</th>
				<th rowspan="3">Nama Pasien</th>
				<th rowspan="2" colspan="2">Jenis Kelamin</th>
				<th rowspan="3">Rujukan dari</th>
				<th rowspan="2" colspan="2">Domisili</th>
				<th rowspan="2" colspan="4">Pendidikan</th>
				<th rowspan="2" colspan="5">Usia</th>
				<th rowspan="2" colspan="10">Status Gizi</th>
				<th rowspan="2" colspan="3">Status HIV</th>
				<th rowspan="2" colspan="3">Perut Membesar</th>
				<th rowspan="2" colspan="3">Nyeri Perut</th>
				<th rowspan="2" colspan="2">Keringat Malam</th>
				<th rowspan="2" colspan="3">Sesak Napas</th>
				<th rowspan="2" colspan="2">Edema</th>
				<th rowspan="2" colspan="2">Muntah</th>
				<th rowspan="2" colspan="2">Anoreksia</th>
				<th rowspan="2" colspan="3">Diare Kronis</th>
				<th rowspan="2" colspan="2">Hematoskezia/bleed per rektum</th>
				<th rowspan="2" colspan="3">Riwayat Panas >= 2 Minggu</th>
				<th rowspan="2" colspan="3">Riwayat Batuk >= 2 Minggu</th>
				<th rowspan="2" colspan="2">Riwayat BB sulit Naik</th>
				<th rowspan="3">Penurunan BB</th>
				<th rowspan="2" colspan="2">Malaise</th>
				<th rowspan="2" colspan="2">Riwayat Kontak TB Dewasa</th>
				<th rowspan="3" >Siapa</th>
				<th rowspan="2" colspan="2">Riwayat Imunisasi BCG</th>
				<th rowspan="2" colspan="2">Riwayat Pengobatan TB</th>
				<th rowspan="3" >Kapan Pengobatan TB Sebelumnya</th>
				<th rowspan="3" >Durasi Pengobatan TB Sebelumnya</th>
				<th rowspan="3" >Keadaan Umum</th>
				<th rowspan="2" colspan="2">Suhu</th>
				<th rowspan="2" colspan="3">Pembesaran KGB</th>
				<th rowspan="2" colspan="3">Pemeriksaan Toraks</th>
				<th rowspan="1" colspan="11">Pemeriksaan Abdomen</th>
				<th rowspan="2" colspan="2">Efusi Pleura</th>
				<th rowspan="2" colspan="2">Efusi Perikardium</th>
				<th rowspan="2" colspan="16">Laboratorium</th>
				<th rowspan="2" colspan="2">TST</th>
				<th rowspan="3" >TST (mm)</th>
				<th rowspan="2" colspan="5">USG Abdomen</th>
				<th rowspan="2" colspan="10">Chest X-Ray</th>
				<th rowspan="1" colspan="6">BTA sputum/aspirat lambung</th>
				<th rowspan="2" colspan="2">TCM Sputum/Aspirat Lambung</th>
				<th rowspan="2" colspan="2">TCM Asites</th>
				<th rowspan="2" colspan="3">TCM Pleura</th>
				<th rowspan="2" colspan="2">TCM Feses</th>
				<th rowspan="3">Kultur M.Tb</th>
				<th rowspan="3">LCS</th>
				<th rowspan="3">FNAB/PA jaringan</th>
				<th rowspan="3">CT Scan Abdomen</th>
				<th rowspan="2" colspan="9">Analisis Cairan Asites</th>
				<th rowspan="2" colspan="9">Analisis Cairan Pleura</th>
				<th rowspan="3">Diagnosis Akhir</th>
				<th rowspan="3">Diagnosis Komorbiditas</th>
				<th rowspan="3">Regimen OAT</th>
				<th rowspan="2" colspan="2">Prednison</th>
				<th rowspan="3">Efek Samping OAT yang muncul</th>
				<th rowspan="3">Regimen OAT diganti dengan</th>
				<th rowspan="3">LOS (Hari)</th>
				<th rowspan="2" colspan="3">Luaran Saat Rawat Inap</th>
				<th rowspan="3">Keterangan lain</th>
				<th rowspan="3">DDJP Utama</th>
				<th rowspan="3">Tanggal mulai OAT</th>
				<th rowspan="2" colspan="9">Bulan ke-1</th>
				<th rowspan="2" colspan="9">Bulan ke-2</th>
				<th rowspan="2" colspan="9">Bulan ke-3</th>
				<th rowspan="2" colspan="9">Bulan ke-4</th>
				<th rowspan="2" colspan="9">Bulan ke-5</th>
				<th rowspan="2" colspan="9">Bulan ke-6</th>
				<th rowspan="2" colspan="9">Bulan ke-7</th>
				<th rowspan="2" colspan="9">Bulan ke-8</th>
				<th rowspan="2" colspan="9">Bulan ke-9</th>
				<th rowspan="2" colspan="9">Bulan ke-10</th>
				<th rowspan="2" colspan="9">Bulan ke-11</th>
				<th rowspan="2" colspan="9">Bulan ke-12</th>
				<th rowspan="3">Durasi OAT</th>
				<th rowspan="3">Hasil Akhir Pengobatan</th>
			</tr>
			<tr style="text-align: center;" class="table-warning table-bordered border-dark">
				<th colspan="2">Distensi Abdomen</th>
				<th colspan="2">Asites</th>
				<th colspan="3">Hepatomegali</th>
				<th colspan="3">Splenomegali</th>	
				<th rowspan="2">Lingkar Perut Masuk</th>
				<th colspan="2">1</th>	
				<th colspan="2">2</th>		
				<th colspan="2">3</th>		
			</tr>
			<tr style="text-align: center;" class="table-warning table-bordered border-dark" >
				{% for header in headers %}
				<th>{{header}}</th>
				{% endfor %}
			</tr>
				{% for pasien in allValues %}
				<tr>
					<td>{{ forloop.counter }}</td>
						<td>
							<div class="btn-group">
							<a type="button" href="{% url 'main:edit_pasien' pasien.0 %}"  class="btn btn-info btn-block">Update</a>
							<form  method="POST" action="{% url 'main:delete_pasien' pasien.0 %}">
							{% csrf_token %}
							<button type="submit"class="btn btn-danger btn-block">Delete</button>
							</form>
							
							</div>
							
						</td>
					{% for data in pasien %}
					<td>{{data}}</td>
					{% endfor %}
				</tr>
				{% endfor %}
	</table>
</div>
<script>
	$('btn-import').on('click', function() {
	  $(this).prop('disabled', true);
  });
  </script>
{% endblock content %} 

{% block script %}
{% endblock script %}
